.gme-counter {
  text-align: center;

  .gme-counter-number-wrap {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
  }

  .gme-counter-title {
    margin-top: 8px;
    font-size: 16px;
  }
}
